services:
  app:
    build: .
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - soketi

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: principal
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  soketi:
    image: quay.io/soketi/soketi:latest
    container_name: soketi
    restart: unless-stopped
    ports:
      - "6001:6001"
    environment:
      SOKETI_DEBUG: "1"
      SOKETI_DEFAULT_APP_ID: "local"
      SOKETI_DEFAULT_APP_KEY: "local"
      SOKETI_DEFAULT_APP_SECRET: "local"

volumes:
  dbdata:
